.login2 {
    width: 20%;
    height: 100%;
    margin: 2rem auto;
}
@media (max-width: 1320px) {
    .login2 {
        width: calc(25% + (25 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 900px) {
    .login2 {
        width: calc(30% + (30 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 700px) {
    .login2 {
        width: calc(35% + (35 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 570px) {
    .login2 {
        width: calc(40% + (40 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 500px) {
    .login2 {
        width: calc(55% + (55 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 400px) {
    .login2 {
        width: calc(65% + (65 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}
@media (max-width: 360px) {
    .login2 {
        width: calc(80% + (80 - 20) * ((100vw - 20rem) / (75 - 20)));
    }
}

.login-form2 {
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);*/
    border: 1px solid #ff8000;
    padding: 2rem;
}

.login-form2 form {
    display: flex;
    flex-wrap: wrap;
}

.login-form2 form .form-control {
    width: 100%;
}

.login-form2 h3 {
    font-size: 1.5rem;
    padding: 0 0 2rem 0;
    text-align: center;
    color: #ff8000;
    font-weight: 600;
}

.login-form2 input {
    width: 100%;
    padding: .66rem;
    font-size: 1rem;
    line-height: 1rem;
    font-family: "Suedtirol Pro", sans-serif;
    border: 1px solid rgba(200, 200, 200, 1);
    outline: none;
    margin-bottom: 1rem;
}

.login2-link {
    font-size: 1rem;
    padding: .66rem 1.33rem .8rem 1.33rem;
    transition: .5s;
    font-weight: 600;
    background-color: #ff8000;
    color: #f7f2de;
    width: 100%;
    display: inline-block;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    cursor: pointer;
    opacity: .8;
}

.login2-link:hover {
    opacity: 1;
}

.btn-box {
    width: 100%;
}

.forgot a,
.toReg a {
    font-size: .9rem;
    color: #8a1f11;
}

.toReg {
    color: rgba(80, 80, 80, 1);
    font-size: 1rem;
}

